[Desktop Entry]
Encoding=UTF-8
Name=Dashlite
Comment=Dashlite P2P Cryptocurrency
Comment[fr]=Dashlite, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dashlite, eşten eşe kriptografik sanal para birimi
Exec=Dashlite-qt %u
Terminal=false
Type=Application
Icon=Dashlite128
MimeType=x-scheme-handler/Dashlite;
Categories=Office;Finance;
