[Unit]
Description=Dashlite's distributed currency daemon
After=network.target

[Service]
User=Dashlite
Group=Dashlite

Type=forking
PIDFile=/var/lib/Dashlited/Dashlited.pid

ExecStart=/usr/bin/Dashlited -daemon -pid=/var/lib/Dashlited/Dashlited.pid \
          -conf=/etc/Dashlite/Dashlite.conf -datadir=/var/lib/Dashlited

ExecStop=-/usr/bin/Dashlite-cli -conf=/etc/Dashlite/Dashlite.conf \
         -datadir=/var/lib/Dashlited stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
